.length {
	font-weight: bold;
	color: red;
}

img {
	border: 2px dashed black;
}

h1,h2,h3 {
	font-family: Lucida Console;
}

.denk {
	font-family: 'Denk One', sans-serif;
	font-size: 2.5em;
	text-align: center;
}

.italy {
	font-style: italic;
	font-weight: bold;
}

ul {
	list-style: none;
}

#album {
	background-image: url("http://imgur.com/N3jNu9q.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	width: 600px;
	height: 600px;
	border: 3px dashed blue;
}

tr td
{
	font-style: italic;
	font-size: 1.2em;
}

#firstRow {
	background-color: gray;
	font-size: 1.4em;
}


table tr:nth-child(even) {
	background-color: #bdbdbd;
}


table tr:nth-child(odd) {
	background-color: #329932;
} 