
#head {
	background-color: black;
	color: #ADD8E6;
}

#head a {
	color: #ADD8E6;
	font-size: 2em;
	padding: 10px;
}

#head a:visited {
	color: #ff4d94;
}

a:hover {
	color: #0000A0;
	background-color: white;
	font-weight: bold;
}

#head a:active {
	text-decoration: none;
}

#head td {
	padding: 8px;
}

#foot {
	background-color: black;
	color: #ADD8E6;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 8px;
	text-align: center;
	height: 60px;
}

#foot table {
	border: 1px;
	width: 100%;
}

#contact {
	font-weight: bold;
}

#rName {
	font-family: 'Baloo Tamma', cursive;
	font-size: 4em;
	margin: 0;
	text-decoration: underline;
	padding: 10px;
}

#menuStuff {
	font-size: 3em;
}

.bgc {
	background-color: #8296f4;
}

.underline {
	text-decoration: underline;
	font-size: 2em;
	padding: 10px;
}

.carousel-control {
	margin-top: 10px;
	margin-bottom: 30px;
	}
.information {
	text-align: center;
	background-color: #337ab7;
	margin-bottom: 0px;
	margin-top: 10px;
}
.information h1 {
	margin-top: 0px;
	margin-bottom: 20px;
	color: white;
}