body {
	background-color: #8296f4;
}


#head {
	background-color: black;
	color: #ADD8E6;
}

#head a {
	color: #ADD8E6;
	font-size: 2em;
	padding: 10px;
}

#head a:visited {
	color: #ff4d94;
}

a:hover {
	color: #0000A0;
	background-color: white;
	font-weight: bold;
}

#head a:active {
	text-decoration: none;
}

#head td {
	padding: 8px;
}

#foot {
	background-color: black;
	color: #ADD8E6;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 8px;
	text-align: center;
	height: 60px;
}

#foot table {
	border: 1px;
	width: 100%;
}

#contact {
	font-weight: bold;
}

#rName {
	font-family: 'Baloo Tamma', cursive;
	font-size: 3em;
	margin: 0;
	text-decoration: underline;
}

.menuStuff {
	font-size: 3em;
	text-decoration: underline;
}
