.length {
	font-weight: bold;
	color: red;
}

img {
	border: 2px dashed black;
}

h1,h2,h3 {
	font-family: Lucida Console;
}

.denk {
	font-family: 'Denk One', sans-serif;
	font-size: 2.5em;
	text-align: center;
}

.italy {
	font-style: italic;
	font-weight: bold;
}

ul {
	list-style: none;
}

#album {
	background-image: url("http://imgur.com/N3jNu9q.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	width: 600px;
	height: 600px;
	border: 3px dashed blue;
}
/*
<img src="http://imgur.com/N3jNu9q.jpg" alt="Aim &#38; Ignite Album Cover" style ="width: 500px; height: 500px;"> */