#head {
	background-color: black;
	color: #ADD8E6;
}

#head a {
	color: #ADD8E6;
	text-decoration: none;
	font-size: 2em;
	padding: 10px;
}
#head a:hover {
	color: #0000A0;
	background-color: white;
}

#head td {
	padding: 8px;
}
#foot {
	background-color: black;
	color: #ADD8E6;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100px;
	width: 100%;
}
#foot table {
	border: 1px;
	width: 100%;
}
#foot p {
	text-align: center;
}

form, td {
	font-weight: bold;
}
body {
	background-color: #8296f4;
}

#rName {
	font-family: 'Baloo Tamma', cursive;
	font-size: 3em;
	margin: 0;
	text-decoration: underline;
}